.highlight {
  color: #ffffff;
  background-color: #1e1e1e;
  line-height: 1.6;
  border-radius: 8px;
  overflow-x: auto;
  padding: 1rem;
  font-size: 0.95rem;
}

.highlight .hll { background-color: #333333; }
.highlight .c  { color: #7f9f7f; font-style: italic; } /* Comment */
.highlight .err{ color: #ff6c6b; background-color: #3c3836; }
.highlight .k  { color: #fb660a; font-weight: bold; } /* Keyword */
.highlight .o  { color: #ffffff; } /* Operator */
.highlight .cm, .cp, .c1, .cs {
  color: #7f9f7f;
  font-style: italic;
}

.highlight .m  { color: #0086f7; font-weight: bold; } /* Number */
.highlight .s  { color: #0086d2; } /* String */
.highlight .na, .nf {
  color: #ff0086;
  font-weight: bold;
}
.highlight .nt {
  color: #fb660a;
  font-weight: bold;
}
.highlight .nb,
.highlight .nc,
.highlight .nn,
.highlight .n {
  color: #ffffff;
}

.highlight .no { color: #0086d2; }
.highlight .nv { color: #fb660a; }
.highlight .kt { color: #cdcaa9; font-weight: bold; }

.highlight .w { color: #888888; }

.highlight .bp { color: #ffffff; }
.highlight .vc, .vg, .vi { color: #fb660a; }
.highlight .il { color: #0086f7; font-weight: bold; }

.highlight .go {
  color: #444;
  background-color: #222;
}